<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta name="description" content="The best restaurant catalogue">
  <meta name="theme-color" content="#DB0000" />
  <link rel="apple-touch-icon" href="/icons/icon-192x192.png">
  <link rel="icon" href="./favicon.png">
  <link rel="manifest" href="./app.webmanifest">
  <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;600&display=swap" rel="stylesheet">
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css"
    crossorigin="anonymous">
  <title>Restaurant Catalogue | Version 1.3</title>
</head>

<body>
  <header class="app-bar">
    <a href="#mainContent" class="skip-link">Menuju ke konten</a>
    <div class="app-bar__menu">
      <button id="hamburgerButton">☰</button>
    </div>
    <div class="app-bar__brand">
      <h1>Restaurant Catalogue</h1>
    </div>
    <nav id="navigationDrawer" class="app-bar__navigation">
      <ul>
        <li><a href="/">Home</a></li>
        <li><a href="#/restaurant-list">Restaurant</a></li>
        <li><a href="#/favorite">Favorite</a></li>
        <li><a href="https://www.linkedin.com/in/zainalsaputra">About Us</a></li>
      </ul>
    </nav>
  </header>
  <main id="mainContent" tabindex="0"></main>
  <footer>
    <p>Copyright &#xa9 2023 - Restaurant Catalogue</p>
  </footer>
  <div class="preloader" id="preloader"></div>
</body>

</html>